body {
   background-color: #2F2F2F;
}

.header {
   background-color: #C0C0C0;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 25px;
}

.content {
   margin-left: 25px;
}

.mainBody {
   background-color: #C0C0C0;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 25px;
}

.column {
   background-color: #C0C0C0;
   float: left;
   width: 25%;
}

.formStyle {
   background-color: #C0C0C0;
   margin-top: 50px;
   margin-left: 100px;
   width: 25%;
   float: left;
}