body {
   background-color: #2F2F2F;
}

.header {
   background-color: #C0C0C0;
   margin-bottom: 25px;
}

.mainBody {
   background-color: #C0C0C0;
   margin-left: 100px;
   margin-right: 100px;
}

.column {
   float: left;
   width: 25%;
}