h1 {
   margin-left: 200px;
   margin-top: 50px;
}

h2 {
   margin-left: 200px;
}

div {
   background-color: white;
   margin-left: 200px;
   margin-right: 200px;

}

body {
   /*background-color: blue;*/
   background-image: ("mountain1.jpg");
}

.css {
   margin-left: 200px;
}