h1 {
   margin-left: 50px;
   margin-top: 50px;
}

h2 {
   margin-left: 50px;
}

div {
   background-color: white;
   margin-left: 200px;
   margin-right: 200px;
   border-radius: 25px;
}

.test {
   margin-left: 500px;
   color: green;
}