h1 {
   margin-left: 50px;
   margin-top: 50px;
}

h2 {
   margin-left: 50px;
}

p {
   opacity: 1;
   margin-left: 50px;
   margin-right: 50px;
   font-size: 125%;
}

div {
   background-color: white;
   margin-left: 200px;
   margin-right: 200px;
   border-radius: 25px;
}

.test {
   margin-left: 50px;
   margin-top: 25px;
   float: right;
}

.homebody {
   background-image: url("mountain1.jpg");
   background-size: cover;
}

img {
   width : 33%;
   float right;
   margin-right: 50px;
}

img:hover {
   opacity: 0.5;
}

.dc {
   width: 33%
   margin-left: 50px;
}

.dc:hover {
   opacity: 0.5;
}

.assignbody {
   background-image: url("computer.jpg");
   background-size: cover;
}